.form {
    margin-top: 75px;
    margin-left: 25px;
}

.button {
    color: #fff;
    background-color: #dc3545;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 20px;
    cursor: pointer;
}

.popover {
    max-height: 200px;
    max-height: 55px;
    width: 200px;
    height: 55px;
    font-size: 10px;
    position: absolute;
    border: 2px solid;
    border-radius: calc(.3rem - 1px);
    box-sizing: border-box;
    text-align: justify;
}

.popover-body {
    padding: 3px 2px 3px 2px;
    color: #212529;
    margin: 0;
    height: 65%;
    box-sizing: border-box;
}

.popover-header {
    padding: 0px 2px 3px 2px;
    background-color: #f7f7f7;
    margin: 0;
    border-bottom: 1px solid;
    height: 35%;
    box-sizing: border-box;
}
